
*{
    margin: 0;
    padding: 0;

    font-family: $content-font;
    box-sizing: border-box;
}


@mixin containers {
    max-width: 1200px;
    margin: auto;
    width: 100%;
}
@mixin buttons {
    color: white; 
    text-decoration: none;
    padding: 5px 10px;
    border-radius: 3px;
    border: 2px solid white;
    &:hover{
    background: #c57cd1;
    }
}

@mixin selections {
    height: 31px;
    font-size: 16px;
    font-family: $content-font;
    border: 2px solid $main-border-color;
    border-radius: 3px
}

header{
    @include containers();
    h1{
        font-family: $content-font;
        font-size: 40px;
    }
    height: 9.3vh;
    padding-left: 30px;
    margin-top: 4vh;
    background: $bg-color;

    display: flex;
    justify-content: space-between;
    align-items: center;

    border-top: 2px solid $main-border-color;
    border-left: 2px solid $main-border-color;
    border-right: 2px solid $main-border-color;

    .options{
        display: flex;
        justify-content: space-around;
        align-items: center;
        width: 30%;
    }
    a{
        @include buttons();
    }

    .sort{
        select{
            @include selections();
            &:focus{
                outline: none;
            }
        }
    }
}   


main{
    @include containers();
    font-size: 18px;
    border: 2px solid $main-border-color;
    .weekdays{
        .row{
            display: grid;
            grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr;
            div{
                display: flex;
                justify-content: center;
                align-items: center;
                border: 1px solid $bg-color;
                height: 8vh;
                .cell{
                    max-width: 198px;
                    width: 100%;
                    height: 100%;
                    border: none;
                    background: #bdf3bd;
                    .info{
                        border: none;
                        display: flex;
                        flex-direction: column;
                        width: 80%;
                        h3{
                            font-size: 18px;
                            text-align: center;
                        }
                        p{
                            font-size: 14px;
                        }
                    }
                }
                button{
                    opacity: 50%;
                    border: none;
                    box-sizing: border-box;
                    margin: 1px 0;
                    background-color: #ffffff;
                    color: #484848;
                    border-radius: 50%;
                    font-size: 20px;
                    width: 32px;
                    height: 32px;
                    &:focus{
                        outline: none;
                    }
                    &:hover{
                        opacity: 100%;
                    }
                }
            }
        }
    }
}

.alert-container{
    width: 800px;
    height: 100px;
    margin: auto;
    border-radius: 30px ;
    background-color: #ffc6ce;
    text-align: center;
    padding: 35px;
    font-size: 24px;
    color: #c13636;
}